# Decision Tree Regression Model

This notebook is for a decision tree regression model.

The highest r2 is .66

In [1]:
# importing libraries
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor

## Importing data

In [2]:
# creating an engine to connect to postgres
# need to add .gitignore for password
engine = create_engine('postgresql+psycopg2://postgres:gitignore@localhost/Avocados')

In [3]:
# reflecting Database into ORM classes
Base = automap_base()
Base.prepare(autoload_with=engine)
Base.classes.keys()

['region', 'type', 'market', 'avocados']

In [4]:
# creating a session
session = Session(engine)

In [5]:
# creating our classes for each table in our 'Avocado' Database
avocados = Base.classes.avocados
market = Base.classes.market
type = Base.classes.type
region = Base.classes.region

In [6]:
# we used the 'read_sql' and 'join' function to merge all of our tables into one and created a pandas DataFrame
avocado_df = pd.read_sql(session.query(avocados, region, type, market)
                         .join(region, region.index == avocados.region_)
                         .join(market, market.index == avocados.market_)
                         .join(type, type.index == avocados.type_).statement, session.bind)
avocado_df.head(10)

,index,date,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,type_,region_,market_,index_1,region,index_2,type,index_3,market
0,0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,0,0,0,0,Albany,0,conventional,0,northeast
1,1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,1,0,0,0,Albany,1,organic,0,northeast
2,2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,0,1,1,1,Atlanta,0,conventional,1,southeast
3,3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,1,1,1,1,Atlanta,1,organic,1,southeast
4,4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,0,2,2,2,BaltimoreWashington,0,conventional,2,midsouth
5,5,2015-01-04,1.29,19137.28,8040.64,6557.47,657.48,3881.69,3881.69,0.00,0.0,1,2,2,2,BaltimoreWashington,1,organic,2,midsouth
6,6,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,0,3,3,3,Boise,0,conventional,3,west
7,7,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,1,3,3,3,Boise,1,organic,3,west
8,8,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,0,4,0,4,Boston,0,conventional,0,northeast
9,9,2015-01-04,1.83,2192.13,8.66,939.43,0.00,1244.04,1244.04,0.00,0.0,1,4,0,4,Boston,1,organic,0,northeast

In [7]:
# remove unneccessary columns
avocado_df = avocado_df.drop(columns=['type_', 'region_', 'market_', 'index_1', 'index_2', 'index_3'])
avocado_df.head(10)

,index,date,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,region,type,market
0,0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,Albany,conventional,northeast
1,1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,Albany,organic,northeast
2,2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,Atlanta,conventional,southeast
3,3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,Atlanta,organic,southeast
4,4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,BaltimoreWashington,conventional,midsouth
5,5,2015-01-04,1.29,19137.28,8040.64,6557.47,657.48,3881.69,3881.69,0.00,0.0,BaltimoreWashington,organic,midsouth
6,6,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,Boise,conventional,west
7,7,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,Boise,organic,west
8,8,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,Boston,conventional,northeast
9,9,2015-01-04,1.83,2192.13,8.66,939.43,0.00,1244.04,1244.04,0.00,0.0,Boston,organic,northeast

## Preprocesing

In [8]:
# change date to datetime for pandas
avocado_df['date'] = pd.to_datetime(avocado_df['date'])
avocado_df.dtypes

index                    int64
date            datetime64[ns]
averageprice           float64
totalvolume            float64
plu4046                float64
plu4225                float64
plu4770                float64
totalbags              float64
smallbags              float64
largebags              float64
xlargebags             float64
region                  object
type                    object
market                  object
dtype: object

In [9]:
# extract the month from the date to easily bin
avocado_df['month'] = pd.DatetimeIndex(avocado_df['date']).month
avocado_df

,index,date,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,region,type,market,month
0,0,2015-01-04,1.220000,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,Albany,conventional,northeast,1
1,1,2015-01-04,1.790000,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,Albany,organic,northeast,1
2,2,2015-01-04,1.000000,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,Atlanta,conventional,southeast,1
3,3,2015-01-04,1.760000,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,Atlanta,organic,southeast,1
4,4,2015-01-04,1.080000,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,BaltimoreWashington,conventional,midsouth,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45022,53408,2023-12-03,1.616528,4947.25,154.75,194.69,0.00,4475.54,NaN,NaN,NaN,Syracuse,organic,northeast,12
45023,53409,2023-12-03,1.421139,24520.55,222.70,91.35,0.00,24206.50,NaN,NaN,NaN,Tampa,organic,southeast,12
45024,53410,2023-12-03,1.550513,5693.91,204.64,1211.25,0.00,4278.03,NaN,NaN,NaN,Toledo,organic,great_lakes,12
45025,53412,2023-12-03,1.618931,34834.86,15182.42,1211.38,0.00,18075.66,NaN,NaN,NaN,WestTexNewMexico,organic,west,12
45026,53413,2023-12-03,1.245406,2942.83,1058.54,7.46,0.00,1779.19,NaN,NaN,NaN,Wichita,organic,plains,12

In [10]:
# create bins to move date to quarters, making them usable data points in the regression model
bins = [0, 3, 6, 9, 12]
# labels of bins 
labels = ['Q1', 'Q2', 'Q3', 'Q4']
# bin the data using the month column created above
avocado_df['quarter'] = pd.cut(avocado_df['month'], bins=bins, labels=labels)
# drop the unneccessary columns
avocado_df=avocado_df.drop(columns=['date', 'month'])
# cast quarter column to string for dummies to work
avocado_df['quarter'] = avocado_df['quarter'].astype(str)
avocado_df.dtypes

index             int64
averageprice    float64
totalvolume     float64
plu4046         float64
plu4225         float64
plu4770         float64
totalbags       float64
smallbags       float64
largebags       float64
xlargebags      float64
region           object
type             object
market           object
quarter          object
dtype: object

In [11]:
# drop the index to remove unique data
avocado_df = avocado_df.drop(columns=['index'])
avocado_df

,averageprice,totalvolume,plu4046,plu4225,plu4770,totalbags,smallbags,largebags,xlargebags,region,type,market,quarter
0,1.220000,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,Albany,conventional,northeast,Q1
1,1.790000,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,Albany,organic,northeast,Q1
2,1.000000,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,Atlanta,conventional,southeast,Q1
3,1.760000,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,Atlanta,organic,southeast,Q1
4,1.080000,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,BaltimoreWashington,conventional,midsouth,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45022,1.616528,4947.25,154.75,194.69,0.00,4475.54,NaN,NaN,NaN,Syracuse,organic,northeast,Q4
45023,1.421139,24520.55,222.70,91.35,0.00,24206.50,NaN,NaN,NaN,Tampa,organic,southeast,Q4
45024,1.550513,5693.91,204.64,1211.25,0.00,4278.03,NaN,NaN,NaN,Toledo,organic,great_lakes,Q4
45025,1.618931,34834.86,15182.42,1211.38,0.00,18075.66,NaN,NaN,NaN,WestTexNewMexico,organic,west,Q4
45026,1.245406,2942.83,1058.54,7.46,0.00,1779.19,NaN,NaN,NaN,Wichita,organic,plains,Q4

## Training the data

In [12]:
# here the number columns are scaled
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(avocado_df[['plu4046', 'plu4225', 'plu4770', 'totalbags']])

# Transform the training data using the scaler
scaled_data = X_scaler.transform(avocado_df[['plu4046', 'plu4225', 'plu4770', 'totalbags']])
avocado_df[['plu4046', 'plu4225', 'plu4770', 'totalbags']] = scaled_data

In [13]:
# define x and y here to avoid scaling the dummy data
# region and market represent the same data, so one of them must always be dropped

y = avocado_df['averageprice']

# test if market or region delivers better results
# this line to drop market (.66)
X = avocado_df.drop(columns=['averageprice', 'totalvolume', 'smallbags', 'largebags', 'xlargebags', 'market'])
# this line to drop region (.59)
#X = avocado_df.drop(columns=['averageprice', 'totalvolume', 'smallbags', 'largebags', 'xlargebags', 'region'])

# dropping market delivers better results. Market will be dropped on all other tests.
# this line to drop type (.67)
#X = avocado_df.drop(columns=['averageprice', 'totalvolume', 'smallbags', 'largebags', 'xlargebags', 'type'])
# this line to drop quarter (.62)
#X = avocado_df.drop(columns=['averageprice', 'totalvolume', 'smallbags', 'largebags', 'xlargebags', 'quarter'])
# this line to drop totalbags (.57)
#X = avocado_df.drop(columns=['averageprice', 'totalvolume', 'smallbags', 'largebags', 'xlargebags', 'totalbags'])
# this line to drop all bags (.56)
#X = avocado_df.drop(columns=['averageprice', 'totalvolume', 'totalbags', 'smallbags', 'largebags', 'xlargebags', 'market'])

In [14]:
X = pd.get_dummies(X)
X

,plu4046,plu4225,plu4770,totalbags,region_Albany,region_Atlanta,region_BaltimoreWashington,region_BirminghamMontgomery,region_Boise,region_Boston,...,region_Tampa,region_Toledo,region_WestTexNewMexico,region_Wichita,type_conventional,type_organic,quarter_Q1,quarter_Q2,quarter_Q3,quarter_Q4
0,-0.459000,-0.271191,-0.217513,-0.481574,True,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
1,-0.474491,-0.462892,-0.219232,-0.554467,True,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
2,1.568360,-0.301624,-0.216402,-0.165422,False,True,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
3,-0.466399,-0.457547,-0.219232,-0.552375,False,True,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
4,-0.172028,3.303552,1.158317,0.638356,False,False,True,False,False,False,...,False,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45022,-0.473945,-0.462614,-0.219232,-0.526235,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
45023,-0.473564,-0.463318,-0.219232,-0.358093,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,True
45024,-0.473665,-0.455687,-0.219232,-0.527919,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True
45025,-0.389663,-0.455686,-0.219232,-0.410339,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
45026,-0.468876,-0.463890,-0.219232,-0.549213,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,True

In [15]:
# this code helps clear away an unclear error
X= X.rename(str,axis="columns")

In [16]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

## Model

In [17]:
# Model training
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=42)

In [18]:
y_pred = model.predict(X_test)

In [19]:
# run evaluation metrics to test perfofmance of the model
mae = mean_absolute_error(y_test, y_pred) 
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
  
print("The mean absolute value is:",mae) 
print("The mean square error is:",mse) 
print("The root mean square error is:",rmse)
print("The R squared is:", r2)

The mean absolute value is: 0.15221504740241626
The mean square error is: 0.05284956701195434
The root mean square error is: 0.22989033692600988
The R squared is: 0.6698805654279453

In [20]:
session.close()

## Optional: Visualizing the decision tree

In [22]:
from sklearn.tree import export_graphviz
#import graphviz
import pydotplus
#from IPython.display import image

In [23]:
dot_data = export_graphviz(model, out_file=None, 
                           feature_names=X.columns,  
                           filled=True, rounded=True,  
                           special_characters=True)

In [24]:
graph = pydotplus.graph_from_dot_data(dot_data)

In [25]:
graph.write_png("dectree.png")

dot: graph is too large for cairo-renderer bitmaps. Scaling by 0.0175004 to fit

True